* {
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	font-family: 'JetBrains Mono', monospace;
	font-size: 1em;
	display: flexbox;
}

h1 {
	font-weight: 400;
}

h2 {
	font-weight: 300;
}

/* testing */
#dark-mode {
	background-color: rgba(33, 37, 41, 1);
	color:rgb(255, 255, 255);
}

#light-mode {
	background-color: white;
}
/* testing end */

#container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"introduction-container"
	"projects-container" 
	"skills-container";
}

#introduction-container {
	grid-area: introduction-container;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 3em;
}

.fa-github-square { 
	color: grey;
}

.fa-linkedin {
	color: #0a66c2;
}

.fa-twitter-square {
	color: #1da1f2;
}

footer {
	background-color: #292E33;
	position: fixed; 
	height: 3rem;
	width: 100%;
	bottom: 0px;
	border-top: 2px solid rgba(33, 37, 41, 1);
	text-align: center;
}

footer p {
	margin-top: 10px;
}

@media screen and (max-width: 882px) {
	#introduction-container {
		grid-column-end: 4;
	}

	project-card {
		display: block;
		width: 31.2rem;
		padding-bottom: 20px;
	}
	
	#projects-section-header {
		width: 30rem;
	}
}

@media screen and (max-width: 726px) {
	#introduction-container {
		grid-column-end: 4;
	}

	project-card {
		display: block;
		width: 26.2rem;
		padding-bottom: 20px;
	}
	
	#projects-section-header {
		width: 25rem;
	}
}

@media screen and (max-width: 640px) {
	#introduction-container {
		grid-column-end: 4;
	}

	project-card {
		display: block;
		font-size: 1em;
	}

	#skills-container {
		margin-left: 0;
	}
}

@media screen and (max-width: 484px) {
	#container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
/* not working */
	/* #container:nth-child(1) {
		order: 1;
	}
	
	#container:nth-child(2) {
		order: 2;
	}
	
	#container:nth-child(3) {
		order: 0;
	}
	
	#container:nth-child(4) {
		order: 3;
	} */

	#projects-section-header {
		width: 100%;
	}

	#projects-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	project-card {
		display: block;
		font-size: 1em;
		width: 100%;
		padding-bottom: 5px;
	}

	#skills-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-bottom: 3rem;
		/* order: 0; */
	}
}