a, a:visited{
	color: white;
}

#projects-container {
	grid-area: projects-container;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 5;
	align-items: center;
}

#projects-section-header {
	background-color: #292E33;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
	width: 40rem;
	margin: 0px 0px 20px 0px;
	padding: 10px;
}

#projects-section-header-title {
	text-align: center;
}

#projects-section-header-link {
	align-self: center;
}

project-card {
	margin: 0px 5px 0px 0px;
	padding: 0px 0px 5px 0px;
}